component/**/*.o
component/**/*.d
component/**/*.su

project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/toolchain
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/toolchain

project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/image
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/image

project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/make/**/*.o
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/make/**/*.d
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/make/**/*.i
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/make/**/*.s
project/realtek_amebaD_va0_example/GCC-RELEASE/project_hp/asdk/make/**/*.su

project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/make/**/*.o
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/make/**/*.d
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/make/**/*.i
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/make/**/*.s
project/realtek_amebaD_va0_example/GCC-RELEASE/project_lp/asdk/make/**/*.su
